.title-team{
    color: white;
    font-size: 25px;

}

main.team {
    display: flex;
    flex-direction: column;
    padding: 32px;
    height: 110vh;
    gap: 50px;
    background-color: #3A015C;
}
.equipe{
    display: flex;
    flex-direction: row;
    column-gap: 50px;

}
main.team section.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 508px;
    height: 320px;
    width: 300px;
    transition: 1s;
}

main.team section.team:hover{
    transform: scale(1.1);
    transition: 1s;
}

main.team section.team:first-child {
    margin-left: 0;
}

main.team section.team .icon {
    width: 64px;
    height: 150px;
}
main.team section.team .button {
    border: 1px solid #3A015C;
    border-radius: 8px;
    color: #3A015C;
    display: flex;
    column-gap: 5px;
    padding: 5px;
    align-items: center;
    font-weight: 300;
    font-size: 15px;
    margin-top: 10px;
    width: 250px;
    transition: 1s;  
}
main.team section.team .git {
    width: 40px;
    height: 40px;
}
main.team section.team img {
    width: 100%;
}

main.team section.team h3 {
    font-size: 100%;
    margin: 16px 0;
}

main.team section.team.contact {
    box-shadow: 10px 10px 10px -30px #DBC4FF;
}
main.team section.team.shop {
    box-shadow: 10px 10px 10px -30px #0678f3;
}
main.team section.team.about {
    box-shadow: 10px 10px 10px -30px #FFC1D5;
}

@media screen and (max-width: 720px) {

    .title-team{
        background-color: #3A015C;
        color: white;
        border: 1px solid rgb(65, 1, 54);
        padding: 2px 2px 2px 2px;
        font-size: 15px;
        text-align: center;
    }

    main.team {
        flex-direction: column;
    }

    main.team section.team {
        margin-left: 0;
        margin-bottom: 32px;
    }

    main.team section.team:last-child {
        margin-bottom: 0;
    }

}