@import url("https://fonts.googleapis.com/css2? family=Montserrat&display=swap");

@media screen and (min-width: 800px) {

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      }

body.dark {
  background-color: #18191a;
}
.toggle {
  position: fixed;
  z-index: 1;
  width: 68px;
  height: 34px;
  right: 10px;
  bottom: 10px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 10;
}
.toggle::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background: #3a023b;
  border-radius: 50%;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}

.toggle.active::before {
  background-color: #18191a;
  left: calc(100% - 10px - 24px);
 font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(143, 9, 196);
  border-radius: 1px 1px 8px 8px;
}

html,
body {
  width: 100%;
  scroll-behavior: smooth;
}
    
.container{
    font-family: "montserrat";
    background-color: #3A015C;
    color: white;
 }

 main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

 .seta{
    position: absolute;
    height: 18%;
    bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .link-nav{
   transition: 1s;
 }

 /*Header*/

 header {
    font-family: "Montserrat";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    color: var(--main-color);
    gap: 20px;
    text-align: center;
    padding: 5px 10px;
  }

  header h2 {
    font-weight: 400;
    padding: 20px 22px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  #menu{
    display: none;
  }

  #links2 {
    display: flex;
    min-width: 40vw;
    justify-content: space-between;
    font-size: 1rem;
  }

  #links {
    display: none;
  }

  .link{
    position: relative;
  }

  .link-menu{
    text-decoration: none;
    color: #3A015C;
  }
  
  .link::before{
    content: "";
    position: absolute;
    left: 2;
    bottom: 8%;
    width: 65%;
    height: 2px;
    background-color: #3A015C;
    border-radius: 4px;
    scale: 0 1;
    transform-origin: right;
    transition: scale 0.60s;
  }
  
  .link:hover::before{
    scale: 1;
    transform-origin: left;
  }


  /*NavBar*/

  nav{
    background-color: #3A015C;
    height: 95vh;
    display: flex;
    position: relative;
    flex-direction: row-reverse;
  }

  .navbar-container{
   margin-left: 15%;
   margin-right: auto;
   margin-top: 12%;
   display: flex;
  }

  .nav-title2{
   font-size: 40px;
   margin-top: 12%;
   font-family: "Montserrat";
   color: white;
  }

  .nav-text{
    font-size: 20px;
    margin-top: 4%; 
  }

  .img-nav{
    height: 100%;
  }
}